<link rel="stylesheet" href="/css/login.css">
<div class="page-content">
  <form action="/user/login" method="POST">
    <div class="login-form">
      <h3>Sign-In</h3>
      <br>
      <hr>
       {{#if errors.others}}
        <br>
        <ul style="padding: 0 32px">
            {{#each errors.others}}
            <li style="color: red; width:auto">{{this}}</li>
            {{/each}}
        </ul>
        <br>
        <hr>
        {{/if}}
      <div class="input-group">
        <div class="row-col-1">
          <label for="username">User Name</label>
          <input name="username" type="email" placeholder="example@gmail.com" value="{{username}}" />
            <div>
            <span class = "login-vdt">{{errID}}</span>
            </div>
        </div>
      </div>
      <div class="input-group">
        <div class="row-col-1">
          <label for="password">Password</label>
          <input class="input-box" name="password" type="password" placeholder="Password" value="{{password}}" />
            <div>
            <span class = "login-vdt">{{errPwd}}</span>
            </div>
        </div>
      </div>
      <p>Forgot Password?</p>
      <div class="row-col-1">
        <input type="submit" class="btn-primary" value="Login" />
      </div>
      <div class="signIn">
        <p>Don't have an user? <a href="/registration">Sign-up</a></p>
      </div>
  </form>
</div>