<link rel="stylesheet" href="/css/registration.css">
<div class="page-content">
    <form class="signup-form" method="POST" action="/mealkit" enctype="multipart/form-data">
        <h3>Add Mealkit</h3>
        <br>
        <hr>
        <br>
        {{#gt err.other.length 0}}
        <ul style="padding: 0 32px">
            {{#each err.other}}
            <li style="color: red; width:auto">{{this}}</li>
            {{/each}}
        </ul>
        <br>
        <hr>
        {{/gt}}
        <div class="input-group">
            <label for="name">Title</label>
            <div class="row-col-1">
                <input name="name" type="text" required value="{{name}}" />
                <div>
                    {{#each err.name}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="included">What is included?</label>
            <div class="row-col-1">
                <input name="included" type="text" required value="{{included}}" />
                <div>
                    {{#each err.included}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="desc">Description</label>
            <div class="row-col-1">
                <textarea name="desc" type="text" required>{{desc}}</textarea>
                <div>
                    {{#each err.desc}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="category">Category</label>
            <div class="row-col-1">
                <select name="category" required />
                <option value="">-Select-</option>
                {{#each categories}}
                <option value="{{name}}">{{displayName}}</option>
                {{/each}}
                </select>
                <div>
                    {{#each err.category}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="price">Price($)</label>
            <div class="row-col-1">
                <input name="price" type="text" required value="{{price}}" />
                <div>
                    {{#each err.price}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="cookingTime">Cooking Time(minutes)</label>
            <div class="row-col-1">
                <input name="cookingTime" type="text" required value="{{cookingTime}}" />
                <div>
                    {{#each err.cookingTime}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="serving">Servings</label>
            <div class="row-col-1">
                <input name="servings" type="text" required value="{{servings}}" />
                <div>
                    {{#each err.servings}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="calories">Calories Per Serving</label>
            <div class="row-col-1">
                <input name="calories" type="text" required value="{{calories}}" />
                <div>
                    {{#each err.calories}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="topmenu">Is it a Top Meal?</label>
            <div class="row-col-1">
                <select name="topmenu" required />
                <option value="">-Select-</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                </select>
                <div>
                    {{#each err.topmenu}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="image">Picture</label>
            <div class="row-col-1">
                <input type="file" name="image" accept="image/*" required />
                <div>
                    {{#each err.image}}
                    <div class="login-vdt">{{this}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row-col-1">
            <input type="submit" class="btn-primary" value="Save" />
        </div>
    </form>
</div>