<link rel="stylesheet" href="/css/menu.css">
<main>
    {{#each meals}}
    <div class="title">
        <h2>{{@key}}</h2>
    </div>
    <div class="menu">
        {{#each this}}
        <div class="meals-box">
            <img src="/uploads/{{pic}}" alt="">
            <h3>{{name}}</h3>
            <button type="button" onclick="location.href='/order/details/{{_id}}'">${{price}}</button>
            <p>{{included}}</p>
        </div>
        {{/each}}
    </div>
    {{/each}}
</main>